# host and firmware
*.o
*.so.*
*.pyc

# firmware build output
*.bin
*.d
*.dfu
*.elf
*.hex
*.lss
*.lst
*.map
*.srec
*.sym

# host utilities
ubertooth-btle
ubertooth-dump
ubertooth-follow
ubertooth-hop
ubertooth-lap
ubertooth-specan
ubertooth-uap
ubertooth-util

# kismet plugins
ubertooth.so
ubertooth_ui.so

# r8c stuff
r8c2l.h
r8c2l.inc
