Source: ubertooth
Section: net
Priority: optional
Maintainer: Dominic Spill <dominicgs@gmail.com>
Standards-Version: 2014-02-R1-git
Build-Depends: libusb-1.0-0-dev, libpcap0.8-dev, cmake
Vcs-Git: https://github.com/greatscottgadgets/ubertooth.git
Vcs-Browser: https://github.com/greatscottgadgets/ubertooth/
Homepage: https://github.com/greatscottgadgets/ubertooth/

Package: ubertooth
Architecture: any
Depends: libusb-1.0-0, libpcap0.8, libbtbb
Description: Ubertooth library and tools

Package: ubertooth-dev
Architecture: any
Section: devel
Depends: libusb-1.0-0-dev, libpcap0.8-dev, libbtbb-dev
Description: Ubertooth library and tools - development files

